#immheader {
  width: 500px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
#contenitore2 {
  width: 500px;
  height: 300px;
}

div,
p,
h4,
h1 {
  text-align: center;
}
